@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-familiy;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}
