@use '../utili' as u;

.nav_menu {
    @include u.flex;

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        background-color: white;
        gap: 1.25rem;

        transition: all 0.5s ease-in-out;


        li {
            font-size: .9375rem;
            font-weight: 500;
            color: rgb(134, 134, 134);
        }

        .cta {
            background-color: #f08f10;
            color: black;
            font-weight: 700;
            padding: 1.25rem;
            border-radius: 5px;
        }
    }
}

.nav_menu .active {
    top: 0;
    height: 100%;
}

#ham { 
    position: relative;
    z-index: 99;
}


@mixin nav--md() {
    .nav_menu {
        .links {
            @include u.flex;
            background-color: transparent;
            position: unset;
            flex-direction: row;
        }
    }

    #ham {
        display: none;
    }
}